/* line 6, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #fbfbfb;
  font-family: sans-serif;
  font-weight: 800;
}
/* line 13, ../sass/style.scss */
body header {
  background: #383b3e;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
}
/* line 20, ../sass/style.scss */
body header .logo {
  width: 60px;
  height: 60px;
  background: #39c283;
  display: block;
  float: left;
}
/* line 26, ../sass/style.scss */
body header .logo .image-logo {
  margin: 15px;
}
/* line 30, ../sass/style.scss */
body header .name-connect {
  display: block;
  height: 60px;
  line-height: 60px;
  float: left;
  margin: 0;
  padding-left: 25px;
  color: #fff;
  font-size: 14px;
}
/* line 41, ../sass/style.scss */
body header .extern-link {
  float: right;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding-right: 15px;
}
/* line 48, ../sass/style.scss */
body header .extern-link li {
  display: inline-block;
  padding: 0 5px;
}
/* line 51, ../sass/style.scss */
body header .extern-link li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
/* line 60, ../sass/style.scss */
body .navigation-first {
  display: block;
  width: 20%;
  padding: 0;
  float: left;
  top: 100px;
  position: fixed;
}
/* line 67, ../sass/style.scss */
body .navigation-first li {
  margin: 0;
  display: block;
  border-left: 7px solid transparent;
}
/* line 72, ../sass/style.scss */
body .navigation-first li.active {
  border-left: 7px solid #39c283;
}
/* line 76, ../sass/style.scss */
body .navigation-first li a {
  padding: 8px 30px;
  display: block;
  color: #383b3e;
  text-decoration: none;
  font-size: 16px;
}
/* line 86, ../sass/style.scss */
body .container-center {
  width: 60%;
  margin-left: 17%;
  padding-top: 110px;
}
/* line 91, ../sass/style.scss */
body .container-center .title-page {
  font-size: 18px;
  position: relative;
  padding-left: 15px;
  line-height: 13px;
  float: left;
  color: #383b3e;
}
/* line 99, ../sass/style.scss */
body .container-center .title-page:before {
  content: '';
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 0;
  background: #39c283;
  display: block;
  position: absolute;
}
/* line 111, ../sass/style.scss */
body .container-center .content {
  width: 100%;
  background: #fff;
  clear: both;
  display: block;
  margin-top: 60px;
  box-shadow: 0px 0px 50px rgba(34, 34, 34, 0.08);
  box-sizing: border-box;
  padding: 60px 100px;
}
/* line 123, ../sass/style.scss */
body .cta-green {
  width: 48px;
  height: 48px;
  background: #39c283;
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  display: block;
  float: right;
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  transform: translateY(-50%);
  box-shadow: 1px 2px 2px rgba(34, 34, 34, 0.13);
}
/* line 139, ../sass/style.scss */
body .cta-green:hover {
  background: #2da56e;
}

/* line 147, ../sass/style.scss */
.client {
  width: 50%;
  float: left;
  box-sizing: border-box;
  position: relative;
  height: 120px;
}
/* line 153, ../sass/style.scss */
.client .avatar {
  width: 60px;
  height: 60px;
  background: #f7f7f7;
  border-radius: 50%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 164, ../sass/style.scss */
.client .content-client {
  float: left;
  font-weight: 500;
  font-size: 14px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  line-height: 18px;
  left: 60px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 176, ../sass/style.scss */
.client .content-client .info {
  opacity: .5;
  font-size: 12px;
}
/* line 180, ../sass/style.scss */
.client .content-client .link {
  margin-top: 8px;
  display: block;
}

/* line 188, ../sass/style.scss */
.taches {
  width: 100%;
  margin: 0 0 50px 0;
}
/* line 192, ../sass/style.scss */
.taches .container-title {
  border-left: 5px solid #BBB;
  padding-left: 15px;
}
/* line 195, ../sass/style.scss */
.taches .container-title .title {
  color: #383b3e;
}
/* line 198, ../sass/style.scss */
.taches .container-title .name {
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
}
/* line 206, ../sass/style.scss */
.taches.important .container-title {
  border-left: 5px solid #cb2121;
}
/* line 211, ../sass/style.scss */
.taches.moyen .container-title {
  border-left: 5px solid #cbb921;
}
/* line 216, ../sass/style.scss */
.taches.leger .container-title {
  border-left: 5px solid #39c283;
}
/* line 221, ../sass/style.scss */
.taches .actions {
  padding: 0;
  padding-left: 20px;
  margin-top: 5px;
}
/* line 225, ../sass/style.scss */
.taches .actions li {
  display: inline-block;
  padding-right: 10px;
}
/* line 228, ../sass/style.scss */
.taches .actions li a {
  font-weight: 300;
  text-decoration: none;
  font-size: 13px;
}
/* line 235, ../sass/style.scss */
.taches .actions li.validate a {
  color: #39c283;
}
/* line 240, ../sass/style.scss */
.taches .actions li.delete a {
  color: #cb2121;
}
/* line 246, ../sass/style.scss */
.taches .description-tache {
  font-size: 14px;
  font-weight: 500;
  opacity: .4;
  margin: 20px;
  line-height: 20px;
}

/* line 255, ../sass/style.scss */
.container-notes {
  position: fixed;
  width: 15%;
  height: calc(100% - 60px);
  right: 0;
  top: 60px;
  background: #fff;
  box-shadow: 0px 0px 50px rgba(34, 34, 34, 0.08);
  overflow-y: auto;
  padding: 30px;
  box-sizing: border-box;
}
/* line 267, ../sass/style.scss */
.container-notes .title-notes {
  font-size: 18px;
  position: relative;
  padding-left: 15px;
  line-height: 13px;
  float: left;
  color: #383b3e;
}
/* line 276, ../sass/style.scss */
.container-notes .note {
  font-size: 11px;
  font-weight: 400;
  margin: 15px 0;
  opacity: .6;
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  position: relative;
}
/* line 285, ../sass/style.scss */
.container-notes .note .delete {
  position: absolute;
  right: 0;
  top: 0;
  color: #BBB;
  text-decoration: none;
}
/* line 293, ../sass/style.scss */
.container-notes .addNote {
  position: absolute;
  bottom: 0;
}
/* line 296, ../sass/style.scss */
.container-notes .addNote textarea {
  width: 100%;
  resize: none;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background: #f7f7f7;
}
/* line 306, ../sass/style.scss */
.container-notes .addNote textarea:focus {
  outline: none;
}

/* line 313, ../sass/style.scss */
.green-link {
  color: #39c283;
  text-decoration: none;
}

/* line 318, ../sass/style.scss */
.clearfix {
  clear: both;
}
